body {
  background: linear-gradient(white, #ffffcc);
  font-family: "Comfortaa", cursive;
  padding: 40px;
}

h1 {
  font-size: larger;
}

h2 {
  text-align: center;
}

.currentDate {
  list-style: none;
  margin: 0 auto;
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}
.today-weather {
  list-style: none;
  margin: 0 auto;
  display: inline;
}

.current-button {

  padding = 50px;
  
}