body {
  font-family: "Comfortaa", cursive;
  font-size: smaller;
  padding: 40px;
}

h1 {
  font-size: larger;
}

h2 {
  text-align: center;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.currentDate {
  list-style: none;
  margin: 0 auto;
  display: inline;
}

.today-weather {
  list-style: none;
  margin: 0 auto;
  display: inline;
}

.weather-app-wrapper {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid #2b2d2f;
  border-radius: 5px;
}

.active {
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
